############################
#       NODE.JS
############################

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
tmp/
temp/

# Caches
.cache/
.next/
.nuxt/
.vite/
vite-cache/
storybook-static/
.eslintcache

# Environment variables
.env
.env.*
.venv/

# Typescript
*.tsbuildinfo

# Optional package manager files
.npm/
.yarn/
.pnpm-store/


############################
#        PYTHON
############################

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
sdist/
var/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.egg-info/
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
.pyenv/
pipenv/
.poetry/
.venv/

# Testing / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.hypothesis/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# PyCharm / VSCode
.idea/
.vscode/
*.swp

# MyPy / Pyright
.mypy_cache/
.dmypy.json
.pyre/

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Flask
instance/
.webassets-cache/

# Sphinx docs
docs/_build/

# mkdocs
/site/


############################
#       OS GENERAL
############################

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*~
